$primary-color: rgb(250, 236, 49);
$secondary-color: #ffc107;

* {
  color: $primary-color;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: rgb(43, 42, 83);
  .budget {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    height: 100vh;
    padding: 0 2rem;
    .info-and-form {
      display: grid;
      grid-template-rows: 1fr 2fr;
    }
  }
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  .display {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border: 1px solid $primary-color;
    border-radius: 1rem;
    margin: 0 1rem;
    padding: 2.5rem 0;
    span {
      font-size: 2rem;
    }
  }
}

.form-bottom {
  display: grid;
  grid-template-rows: 1fr 2fr;

  .budget-form {
    padding: 1rem 10rem;
    margin: 1rem;
    text-align: center;
    padding-top: 1rem;
    border: 1px solid $primary-color;
    border-radius: 1rem;
    button {
      color: $primary-color;
      border-color: $primary-color;
      width: 40%;
      height: 70%;
    }
  }
}

.expense-form {
  display: 100%;
  form {
    display: grid;
    grid-template-rows: 1fr 1fr;

    .expense-btn {
      margin: 1rem 1rem;
      display: grid;
      grid-template-areas:
        "rent groceries dining"
        "bills smoking maintenance";
      grid-gap: 1rem;
      #rent {
        grid-area: rent;
      }
      #groceries {
        grid-area: groceries;
      }
      #dining {
        grid-area: dining;
      }
      #bills {
        grid-area: bills;
      }
      #smoking {
        grid-area: smoking;
      }
      #maintenance {
        grid-area: maintenance;
      }
      .btn {
        &.active {
          background: $secondary-color;
          color: #000;
        }
      }
    }

    .form-group {
      // margin-top: 2rem;
      padding: 1rem 10rem;
      margin: 1rem;
      text-align: center;
      padding-top: 1rem;
      border: 1px solid $primary-color;
      border-radius: 1rem;
      button {
        color: $primary-color;
        border-color: $primary-color;
        width: 40%;
        height: 70%;
        margin-top: 1rem;
      }
    }
  }
}

.table {
  text-align: center;

  td {
    vertical-align: middle;
  }

  button {
    width: 150px;
    height: 50px;
    text-transform: uppercase;
  }

  .fa-trash-alt {
    cursor: pointer;
  }
}

@media screen and (max-width: 1150px) {
  body {
    .budget {
      display: inline;
    }
  }
}
